.home {
    text-align: justify;
    margin-top: 10%;
    padding-bottom: 6%;
    padding-top: 3%;
    font-family: monospace;
    font-weight: bold;
    color: #BD871F;
    margin-left: 4%;
    margin-right: 4%;
    

}

.myName {
    color: #BD871F;
}

.buildSolutions{
    color: #408A83;
}

.downIcon {
    margin-top: 8%;
}