.home {
    text-align: justify;
    margin-top: 10%;
    padding-bottom: 6%;
    padding-top: 3%;
    font-family: monospace;
    font-weight: bold;
    color: white;
    

}

.myName, .buildSolutions{
    color: #408A83;
}
