.technology {
    text-align: left;
}

.technologyHeader {
    text-align: left;
    margin-top: 2%;
    font-family: monospace;
    font-weight: bold;
}

.technologyHeading{
    text-align: left;
    font-family: monospace;
    font-weight: bold;
    padding-top: 15%;
    color: white;
    margin-left: 45%;
}

.technologies {
    margin-top: 5%;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: white;
    font-size: 25px;
}
