.technology {
    text-align: left;
}

.technologyHeader {
    text-align: left;
    margin-top: 5%;
    font-family: monospace;
    font-weight: bold;
    color: #BD871F;
}

.technologyHeading{
    text-align: left;
    font-family: monospace;
    font-weight: bold;
    color: #BD871F;
    margin-top: 5%;
}

.technologies {
    margin-top: 1%;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.technologyComponent {
    margin-top: 5%;
}